.btn {
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  font-weight: 800;
  border: 2px solid;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: all var(--transition-normal);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: inherit;
  min-width: 200px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: var(--color-gray-light);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: left var(--transition-normal);
}

.btn:hover:not(:disabled)::before {
  left: 100%;
}

.btn-primary,
.btn-secondary {
  background-color: transparent;
  color: var(--color-white);
  border-color: #f6f5f2;
}

.btn-primary:hover:not(:disabled),
.btn-secondary:hover:not(:disabled) {
  border-color: #070707;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(207, 180, 44, 0.8);
  color: var(--color-gold-dark);
}

.btn-danger {
  background-color: transparent;
  color: var(--color-red);
  border-color: var(--color-red);
}

.btn-danger:hover:not(:disabled) {
  background-color: var(--color-red);
  color: var(--color-white);
  transform: translateY(-2px);
}

.btn:active:not(:disabled) {
  transform: translateY(0);
}
